html, body {
    height: 100%;
}

body {
    font: 20px 'Oswald', sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.navbar {
    color: #d0d3d6;
}

p {
    font-size: 16px;
    color: #f5f6f7;
}

a {
    color: #232324;
}

#logo, .project-img {
    width: 400px;
    height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #232324;
    color: #232324;
}

.bg-2 {
    background-color: #232324;
    color: #232324;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

 .card-body {
    background-color: #d0d3d6;
 }

.bg-3 {
    background-color: #d0d3d6;
    color: #232324;
}

.bg-4 {
    background-color: #232324;
    color: #232324;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #232324 !important;
}

.home-text {
    color: #d0d3d6;
}

 .nav-item {
    color: #232324;
 }
 
 .textColor {
    color: #f5f6f7;
 }
